:root {
  --branding-color: #6c63ff;
  --branding-color-hover: #5249f5;
  --text-color: #272142;
  --fill-color: #f9f7fe;
  --heading-font: "Playfair Display", serif;
  --content-font: "Poppins", sans-serif;
}

body {
  font-family: var(--content-font);
  font-weight: 400;
  color: var(--text-color);
}
/* navigation CSS */
nav {
  padding: 20px;
  background-color: var(--fill-color);
}
nav li {
  display: inline;
  list-style: none;
  padding: 10px;
  font-size: 18px;
}
nav span.name {
  font-size: 24px;
  font-weight: 500;
  padding-left: 15px;
}
nav a {
  font-weight: 400;
  text-decoration: none;
  color: var(--text-color);
  transition: all 150ms ease-in-out;
}
nav a:hover {
  color: var(--branding-color-hover);
}
nav a.active {
  font-weight: 500;
  color: var(--branding-color);
  text-decoration: underline;
  font-size: 20px;
}
.nav-img {
  max-width: 100%;
  height: auto;
  padding-left: 10px;
}

/* universal tags*/
h1,
h2,
h3,
h4 {
  font-family: var(--heading-font);
  font-weight: 700;
}
h1 {
  font-size: 64px;
  line-height: 1.5;
}
h2 {
  font-size: 64px;
  line-height: 1.25;
}
h3 {
  font-size: 48px;
  line-height: 1.25;
}
p {
  font-size: 16px;
  line-height: 1.5;
}
a {
  color: var(--branding-color);
  transition: all 150ms ease-in-out;
}
a:hover {
  color: var(--branding-color-hover);
}

/*Special buttons*/
a.btn-booking {
  font-size: 18px;
  line-height: 1.5;
  color: white;
  background-color: var(--branding-color);
  text-align: center;
  font-weight: 500;
  border-radius: 4px;
  padding: 18px 43px;
  transition: all 150ms ease-in-out;
}
a.btn-booking:hover {
  font-size: 18;
  line-height: 1.5;
  color: white;
  border: 1px solid var(--branding-color);
  background-color: var(--branding-color-hover);
  border-radius: 4px;
  text-align: center;
  font-weight: 500;
  padding: 18px 43px;
}
.btn-alt {
  font-size: 18px;
  line-height: 1.5;
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  text-align: center;
  font-weight: 500;
  padding: 18px 43px;
  transition: all 150ms ease-in-out;
}
a.btn-alt:hover {
  font-size: 18px;
  line-height: 1.5;
  color: white;
  background-color: var(--branding-color);
  text-align: center;
  font-weight: 500;
  border-radius: 4px;
  padding: 18px 43px;
}

/* hero */
header.hero {
  background-color: var(--fill-color);
  text-align: center;
  color: var(--text-color);
  padding: 270px 0;
}
div.greeting {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.5;
}
.hero h1 {
  font-size: 96px;
  line-height: 1.33;
  color: black;
}
.hero h2 {
  font-family: var(--content-font);
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
}

/*footer*/
footer a.email-link {
  font-size: 30px;
  line-height: 1.5;
  color: black;
  font-weight: 500;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}
footer a.email-link:hover {
  color: var(--branding-color);
}
footer a.social-icons {
  font-size: 30px;
  font-weight: 400;
  color: var(--branding-color);
  background-color: var(--fill-color);
  border-radius: 50%;
  transition: all 150ms ease-in-out;
  margin: 5px;
  padding: 10px 20px;
}
footer a.social-icons:hover {
  color: white;
  background: var(--branding-color);
}

/*booking section*/
.booking-banner {
  background-color: var(--fill-color);
  margin: 40px;
  padding: 30px;
}
.booking-banner h2 {
  font-size: 36px;
  text-align: end;
}

/*about page specific*/
.about-content {
  padding: 100px 100px 50px 100px;
}
.about-title-line {
  text-align: start;
  padding: 10px;
}
p.about-paragraph {
  line-height: 32px;
}
.about-title-line p {
  font-size: 18px;
}

/*utility classes*/
.large-pic {
  padding: 60px;
}
.background-fill {
  background-color: var(--fill-color);
}
.small-text {
  font-size: 14px;
}

/* media query for tablets and smaller*/
@media (max-width: 992px) {
  h1,
  .hero h1 {
    font-size: 64px;
  }
  h2 {
    font-size: 48px;
  }
  h3 {
    font-size: 36px;
  }
  header.hero {
    padding: 160px 0;
  }
  footer a.email-link {
    font-size: 26px;
  }
  .large-pic {
    padding: 10px;
  }
}

/* media query for phones*/
@media (max-width: 574px) {
  header.hero {
    padding: 100px 0;
  }
  .booking-banner {
    text-align: center;
  }
  .booking-banner h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  .content h1 {
    font-size: 48px;
  }
  .about-title-line {
    text-align: center;
  }
  .work-button {
    text-align: center;
  }
  .about-content {
    padding: 50px 50px 15px 50px;
  }
  .large-pic {
    padding: 0;
  }
  nav {
    padding: 3px;
  }
  nav li {
    font-size: 12px;
  }
  nav a.active {
    font-size: 13px;
  }
  nav span.name {
    padding: 0;
  }
  .nav-img {
    max-width: 60%;
    padding-left: 5px;
  }
  footer a.email-link {
    font-size: 22px;
  }
  footer a.social-icons {
    font-size: 18px;
    padding: 10px 14px;
  }
}
