:root {
  --branding-color: #6c63ff;
  --text-color: #272142;
  --fill-color: #f9f7fe;
  --heading-font: "Playfair Display", serif;
  --content-font: "Poppins", sans-serif;
}

body {
  font-family: var(--content-font);
  font-weight: 400;
  color: var(--text-color);
}

h1,
h2,
h3 {
  font-family: var(--heading-font);
  font-weight: 700;
}
h2 {
  font-size: 64px;
  line-height: 1.25;
}
h3 {
  font-size: 48px;
  line-height: 1.25;
}
p {
  font-size: 16px;
}
.btn-booking {
  font-size: 18px;
  line-height: 1.5;
  color: white;
  background-color: var(--branding-color);
  text-align: center;
  font-weight: 500;
  border-radius: 4px;
  padding: 18px 43px;
}
a.btn-booking:hover {
  font-size: 18;
  line-height: 1.5;
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  text-align: center;
  font-weight: 500;
  padding: 18px 43px;
}
.btn-alt {
  font-size: 18;
  line-height: 1.5;
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  text-align: center;
  font-weight: 500;
  padding: 18px 43px;
}
a.btn-alt:hover {
  font-size: 18px;
  line-height: 1.5;
  color: white;
  background-color: var(--branding-color);
  text-align: center;
  font-weight: 500;
  border-radius: 4px;
  padding: 18px 43px;
}

header.hero {
  background-color: var(--fill-color);
  text-align: center;
  color: var(--text-color);
  padding: 270px 0;
}
div.greeting {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.5;
}
.hero h1 {
  font-size: 96px;
  line-height: 1.33;
  color: black;
}
.hero h2 {
  font-family: var(--content-font);
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
}
